.matches-body{
    min-height: 85vh;
    background-color: #08133d;
}
.matches-heading{
    display: flex;
    justify-content: center;
    font-size:50px;
    padding-top: 2vh;
    color:#7acad2;
}
.competition-select{
    margin: 8px 5px !important;
    
}

@media only screen and (max-width: 600px) {
    .matches-heading{
        padding-top: 1vh;
        font-size: 30px;
    }
}