.leaderboard-body{
    min-height: 85vh;
    background-color: #08133d;
    color: wheat;
}
.leaderboard-heading{
    display: flex;
    justify-content: center;
    font-size:50px;
    padding-top: 5vh;
    color:#7acad2;
}
.leaderboard-table{
    width: 100vw !important;
   
}
.leaderboard-table-head{
    width:100vw !important;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-top: 5vh;
    text-align: center;
}
.leaderboard-table-body{
    width : 100vw;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}
.leaderboard-table-row{
    width:100vw;
    display: flex;
    flex-direction: row;
    margin:2vh 0;
}
.leaderboard-name{
    display: flex;
    justify-content: center;
    width: 23vw !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 2vw;
}
.leaderboard-email{
    display: flex;
    justify-content: center;
    width: 30vw !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}
.leaderboard-points{
    display: flex;
    justify-content: center;
    width: 20vw !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 1vw;
}
.leaderboard-team{
    display: flex;
    justify-content: center;
    width: 25vw !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}   

@media only screen and (max-width: 600px) {
    .leaderboard-heading{
        font-size: 30px;
    }
    .leaderboard-table-head{
        font-size: 20px;
    }
    .leaderboard-table-body{
        font-size: 14px;
    }
}