.table{
    margin-top: 5vh !important;
}
.header{
    
    background-color: rgb(234 208 234);
    color: white;
}

.position{
    
    width:2vw;
    text-align: center;
}
.team{
    text-align: center !important;
}
.type1{
    text-align: center !important;
    width : 12vw;
    padding: 0 0 !important;
}
.type2{
    text-align: center !important;
    width: 5vw;
}
.league-table-body{
    width:100vw !important;
}
.table-loader{
    width:30vw !important;
    height: 20vh !important;
    margin: auto;
    margin-top: 10vh;
    display: flex !important;
    justify-content: center !important;
}

@media only screen and (max-width: 768px) {
    .type2{
        display:none !important;
    }
}