.rules-body{
    min-height: 85vh;
    padding-left:10vw;
    padding-right:10vw;
    background-color: #08133d;
    color: wheat;
}
.rules-heading{
    display: flex;
    justify-content: center;
    font-size:50px;
    padding-top: 5vh;
    color:#7acad2;
}
.rules-intro{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 4vh 0;
    
}
.rules-image-alt{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center; */
    font-size: 25px;
    align-items: center;
    margin-bottom: 5vh;
}
.rules-image-alt-para{
    display: flex;
    flex-direction: row;
    width: 300px;
    
}
.rules-image-alt-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:250px;
}
.rules-image-alt-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width:50px;
}

.rules-main{
    padding-bottom: 4vh;
    font-size: 25px;
    
}
.rules-list{
    list-style-type: disc;
    font-size: 25px;
}
.rules-list li{
    margin-top: 2vh;
}
.points{
    color:white;
}

@media only screen and (max-width: 600px) {
    .rules-heading{
        font-size: 30px;
    }
    .rules-intro{
        font-size: 20px;
    }
    .rules-image-alt{
        font-size: 20px;
    }
    .rules-image-alt-para{
        width: 250px;
    }
    .rules-image-alt-para-left{
        width:220px;
    }
    .rules-image-alt-para-right{
        width:30px;
    }
    .rules-main{
        font-size: 20px;
    }
    .rules-list{
        font-size: 20px;
    }
}