.league-table-row-position{
    text-align: center !important;
    color:wheat !important;
}
.league-table-row-team{
    text-align: center !important;
    color:wheat !important;
}
.league-table-row-type1{
    text-align: center !important;
    width : 12vw;
    color:wheat !important;
}
.league-table-row-type2{
    text-align: center !important;
    width: 5vw;
    color:wheat !important;
}
@media only screen and (max-width: 768px) {
    .league-table-row-type2{
        display:none !important;
    }
    
}